<div class="navbar fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">
  <%# 4 icons + one collapse button in the navbar %>
  <div class="container-fluid ps-4">
    <a href="/"><i class="fas fa-map-marker-alt"></i></a>
    <a href="/items"><i class="fas fa-search"></i></a>
    <a href="/items/new"><i class="far fa-plus-square"></i></a>
    <a href="/requests"><i class="far fa-comment"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <a href="#" class="dropdown-toggle text-white" id="navbarDropdown" data-bs_toggle="dropdown" aria-haspopup=true aria-expanded=false>
        <i class="far fa-user"></i>
      </a>
    </button>

    <%# collapse menu to show 'Login' or 'Log out' option. %>
    <div class="collapse navbar-collapse my-1" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto text-end">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "My profile", my_profile_path %></li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
