<div class="requests">
  <div class="d-flex justify-content-center">
      <h5>Messages</h5>
  </div>

</div>


<% @requests.each do |request| %>
  <%= request.item.name %>
  <p>Giver: <%= request.giver.username %></p>
<% end %>
