<%= link_to items_path do %>

  <div class="image-banner">
    <div class="container">
      <h1 style="color:#814B67">Food4<span><strong>All</strong></span></h1>
    </div>
  </div>

  <div class="white-banner-container">
    <div class="white-banner">
      <p>Too much food? Share it.</p>
    </div>
  </div>

<% end %>
