<h5><%= user.username %> is giving away</h5>
<% user.items.each do |item|%>
  <h6><%= link_to (item.name.capitalize), item_path(item) %></h6>
  <% item.allergens.each do |allergen|  %>
    Contain:<%= allergen.name.capitalize%>
  <% end %>
   <% item.diets.each do |diet|  %>
    Best for:<%= diet.name.capitalize%>
  <% end %>
<% end %>
