<h5><%= user.username %> is giving away</h5>
<% user.items.each do |item|%>
  <h6><%= item.name.capitalize %></h6>
  <% item.allergens.each do |allergen|  %>
    <p>Contain:<%= allergen.name.capitalize%></p>
  <% end %>
   <% item.diets.each do |diet|  %>
    <p>Best for:<%= diet.name.capitalize%></p>
  <% end %>
<% end %>
