<h6><%= user.username.capitalize %> is giving away</h6>
<% user.items.each do |item|%>
  <p><%= link_to (item.name.capitalize), item_path(item) %></p>
  <% item.allergens.each do |allergen|  %>
    <i class="fas fa-ban"></i>&nbsp<%= allergen.name.capitalize%>
  <% end %>
  <br>
   <% item.diets.each do |diet|  %>
    <i class="fab fa-envira"></i>&nbsp<%= diet.name.capitalize%>
  <% end %>
<% end %>
