<div class="back-btn-container">
  <div class="back-btn">
    <%= link_to items_path do %>
      <i class="fas fa-long-arrow-alt-left" aria-hidden="true" target="_blank"></i>
    <% end %>
  </div>
  <p>Back to listing</p>
</div>
<%= render "form", item: @item %>
