// For navbar
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // For subtle 'touch' animation
  &:active {
    opacity: 0.9;
  }
}

// For profile avatar
.avatar-large {
  width: 192px;
  height: 192px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 3px solid;
}

  .avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
