.button {
  background-color: rgba($rose, 1);
  color: white;
  border: none;
  width: 61px;
  height: 34px;
  border-radius: 2px;
  padding: 4px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 12px;
  // Very simple animation for mobile 'touch'
  &:active {
    background-color: rgba($rose, 0.95);
    color: white;
  }
  // 'reserve' button in Items#show page
  &.reserve {
    width: 100%;
    height: 48px;
    font-size: 16px;
    a {
      color: white;
      line-height: 40px;
    }
  }
  a:active {
    color: white;
  }
}

// Styling tabs
.nav-link {
  color: $dark-green;
}

.nav-link:hover {
  color: black;
}


.btn:hover {
  border: #814B67 1px solid;
  background-color: #FFFFF0;
  color: #814B67;
}

.back-btn-container {
  display: flex;
  margin-bottom: 16px;
  margin-top: 36px;
  &.show {
    margin-top: 0;
    margin-bottom: 8px;
  }
  p {
    color: $dark-green;
    font-weight: 600;
    line-height: 1.3;
  }
}

.back-btn-show {
  color: $rose;
  text-decoration: none;
  margin-bottom: 8px;
  .fas {
    color: $rose;
    font-size: 20px;
    margin-right: 24px;
  }
  a {
    color: $rose;
  }
}

.back-btn {
  color: $rose;
  text-decoration: none;
  margin-bottom: 8px;
  margin-left: 12px;
  .fas {
    color: $rose;
    font-size: 20px;
    margin-right: 24px;
  }
  a {
    color: $rose;
  }
}
