.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  object-fit: cover;
}

.container {
  border-color: 10px solid red;
  position: relative;
  background-color: #8BAD85;
  padding: 0;
  width: auto;
}

.card-user {
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 8px;
}

.share {
  width: 15px;
  height: 15px;
}

.btn {
  background-color: #814B67;
  color:white;
  padding-bottom: 8px;
  border: 0;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-carrusel {
  position: relative;
}

.social-media {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  margin-right: 8px;
  margin-left: 8px;
}

.fa-thumbs-up {
  margin-right: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 11px;
}

.card-description {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 0;
  border: 0;
  p {
    margin: 0;
  }
}

.details {
  padding-bottom: 14px;
  padding-top: 18px;
  margin-left: -8px;
  font-size: small;
  padding-right: 4px;
}

.availability {
  position: absolute;
  margin-top: -250px;
  margin-left: 374px;
  color: white;
  font-weight: bolder;
}

.btn:hover {
  border: #814B67;
  background-color: #FFFFF0;
  color: #814B67;
}
