.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  object-fit: cover;
}

.container-detail {
  border-color: 10px solid red;
  position: relative;
  padding: 0;
  width: auto;
  color: #0c5836;
}

.card-user {
  display: flex;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 0;
  border: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.06);
}

.share {
  width: 15px;
  height: 15px;
}

.btn {
  background-color: #814B67;
  color:white;
  padding-bottom: 8px;
  border: 0;
}

.container-carousel {
  position: relative;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  margin: 0 auto;
  z-index: 1;
  padding-top: 8px;
  // nested in .social-media so .fas won't affect other icons
  .fas {
    color: white;
    opacity: 0.6;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 1.5rem;
    margin-right: 12px;
  }
}

.distance {
  margin-top: -1222px;
  margin-left: 43px;


}

// .fa-thumbs-up {
//   margin-right: 8px;
// }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 11px;
}

.card-description {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 0;
  border: 0;
  p {
    margin: 0;
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
}

.details {
  padding-bottom: 14px;
  padding-top: 18px;
  margin-left: 8px;
  font-size: small;
  padding-right: 4px;
  p {
    margin-top: 12px;
  }
}

.availability {
  text-align: center;
  // line-height: 60px;
  margin-left: 12px;
  color: white;
  z-index: 1030;
  line-height: 3.0;
}


// commented out because there's no hover effect in mobile
// if this is necessary, please change to other class because it's affecting all icons :(
// .fas:hover {
//   color: #814B67;
// }

// commented out because it's replaced by heart icon
// .fa-thumbs-up {
//   margin-left: 594px !important;
//   margin-top: -20px !important;
// }

.d-flex {
  z-index: 1;
}

.picture_for_show {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.carousel-item > img {
  object-fit: cover;
}

.my-items {
  margin-top: -24px;
  .heading {
    border-bottom: 1.5px $light-green solid;
  }
  .button {
    font-size: 13px;
  }
}

.expand {
  object-fit: cover;
}

.item-name {
  padding-bottom: 0px;
  padding-top: 0px;
  line-height: 1.3;
  font-weight: 600;
  color: $dark-green;
}

#nav-tabContent {
  margin-bottom: 5rem;
}
