body {
  background-color: $ivory !important;
}

.logo-container {
  display: flex;
  color: $ivory;
  background-color: $rose;
  padding-left: 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1px;
  padding-left: 12px;
  z-index: 1030;
  p {
    font-size: 24px;
    font-weight: 600;
    margin-left: 8px;
    line-height: 1.3;
  }
}

.app-container {
  max-width: 800px;
  margin: 0 auto; // center the container
  padding: 0 12px;
  background-color: $ivory;
  padding-bottom: 30px;
  padding-top: 40px;

  // app-container just for Requests#index page
  &.requests {
    max-width: 100%;
    padding: 0;
  }
}

.container-custom-full-width {
 padding: 0 !important;
margin-bottom: 0;
}

.container-fluid {
  margin-bottom: 0 !important;
}

.items-page-container {
  position: relative;

}

.initial-screen {
  position: fixed;
  left: 0.4px;
  top: 0px;
  z-index: 1031;
  display: none;
}
