.new-item {
  .heading {
    border-bottom: 1.5px $light-green solid;
    h5 {
      width: 100%;
      font-size: 17px;
      display: flex;
      justify-content: center;
      margin-top: 48px;
      font-weight: 900;
      margin-bottom: 12px;
      color: black;
    }
  }
  .form-check {
    padding-left: 0;
  }
  .form-check-label {
    padding-left: 5px;
  }
  .button {
    font-size: 1rem;
  }
}
