// this component is for styling the messages in each request.
// refer to usage in views/requests/show.html.erb

// background color of the card for messages
.messages {
  background-color: rgba($light-green, 0.15);
  .alert-success {
    background: rgba($light-green, 0.2);
    color: rgba(black, 0.9);
    h5 {
      font-size: 16px;
    }
    li {
      font-size: 14px;
    }
  }
}

// To style the wrapping div
.message-row {
  padding: 8px;
  animation: fadeIn;
  animation-duration: 0.8s;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  color: rgba(black, 0.9);
}

// changing the boilerplate colors to our theme colors in Figma
.sender-style {
  background-color: rgba(grey, 0.2);
}

.receiver-style {
  background-color: rgba($light-green, 0.5);
}

// button to send messages
.send-messages {
  .button {
    height: 62px;
    font-size: 14px;
    font-weight: 400;
  }
}
