.navbar {
  padding: 0;
  height: 48px;
  i {
    color: white;
    font-size: 1.5rem;
  }
  a {
    color: white;
    font-size: 1rem;
  }
  .container-fluid {
    height: 100%;
  }
  .nav-item-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .active {
    background: white;
    border-top: 3px solid $rose;
    i {
      color: $light-green;
      animation: pulse;
      animation-duration: 0.3s;
    }
  }
}
.navbar-lewagon {
  justify-content: space-between;
  background: $rose;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
