.profile {
  position: relative;
  .edit-link {
    color: rgba(black, 0.6);
    &:active {
      color: rgba(black, 0.6);
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
    .button {
      padding: 10px 16px;
      font-size: 14px;
    }
  }
  .logout {
    position: absolute;
    bottom: -250px;
    text-decoration: underline;
    color: gray;
  }
}
